<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.board.mapper.BoardMapper">

<!-- 게시글-여러댓글 => 1:N 관계이므로 Collection 사용-->
  <resultMap id="boardMap" type="BoardVO">
    <id     property="bno"        column="bno"/>
    <result property="title"      column="title"/>
    <result property="content"    column="content"/>
    <result property="writer"     column="writer"/>
    <result property="regdate"    column="regdate"/>
    <result property="updatedate" column="updatedate"/>

    <collection property="replylist"
                ofType="ReplyVO"
                column="bno"
                select="selectReplyByBno"/>
  </resultMap>


<!-- 게시글 전체조회 -->
<select id="selectBoard">
  SELECT *
  FROM   tbl_board
</select>

<!-- 게시글 단건조회 -->
<select id="selectBoardByBno" resultMap="boardMap" parameterType="Long">
  SELECT *
  FROM   tbl_board
  WHERE  bno = #{bno}
</select>

<!-- 단건 댓글 -->
<select id="selectReplyByBno" resultType="replyVO" parameterType="Long">
  SELECT *
  FROM  tbl_reply
  WHERE bno = #{bno}
</select>

<!-- 게시글_댓글_JOIN-->
<select id="joinBoardByReplyBno" resultType="map" parameterType="Long">
SELECT tb.title, tb.content, tb.writer, tb.regdate, tb.updatedate,
       tr.reply, tr.replyer, tr.replydate, tr.updatedate
FROM   tbl_board tb
LEFT JOIN tbl_reply tr ON tr.bno = tb.bno
WHERE tb.bno = #{bno}
</select>

<!-- insert: 등록 -->
<insert id="insert" parameterType="boardVO">
  INSERT INTO tbl_board (
      bno,
      title,
      content,
      writer,
      attach
  )
  VALUES (
      seq_board.nextval,
      #{title},
      #{content},
      #{writer},
      #{attach}
  )
</insert>
</mapper>