<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="debtDAO"> -->
<mapper namespace="com.yedam.dept.service.impl.DebtMapper">
	

	<resultMap id="debt" type="com.yedam.dept.service.DebtVO">
		<result property="id" column="ID" />
		<result property="dname" column="DNAME" />
		<result property="location" column="LOCATION" />
		<result property="managerId" column="MANAGER_ID" />
	</resultMap>
	
	<insert id="insertDebt">
		<![CDATA[
			INSERT INTO DEBT 
				( ID
				  , DNAME
				  , LOCATION
				  , MANAGER_ID )
			VALUES ( #{id}
				  , #{dname}
				  , #{location}
				  , #{managerId} )
		]]>
	</insert>
	
	<update id="updateDebt">
		<![CDATA[
			UPDATE DEBT
			SET ID=#{id}
				, DNAME=#{dname}
				, LOCATION=#{location}
				, MANAGER_ID=#{managerId}
			]]>
	</update>
	
	<delete id="deleteDebt">
		<![CDATA[
			DELETE FROM DEBT 
			]]>
	</delete>
	
	<select id="selectDebt" resultMap="debt">
		<![CDATA[
			SELECT
				ID
				, DNAME
				, LOCATION
				, MANAGER_ID
			FROM DEBT
			]]>
	</select>
	
	<select id="selectDebtList" parameterType="com.yedam.dept.service.DebtVO" resultType="egovMap">
SELECT * FROM (
	SELECT A.*, ROWNUM RNUM FROM (
				SELECT
								ID
								, DNAME
								, LOCATION
								, MANAGER_ID
						FROM DEBT
				WHERE 1=1
				<if test="searchKeyword != null and searchKeyword != ''">
					<if test="searchCondition == 0">AND
						ID = #{searchKeyword}
					</if>
					<if test="searchCondition == 1">AND
						DNAME LIKE '%' || #{searchKeyword} || '%'
					</if>
				</if>
					ORDER BY 
	
		<![CDATA[					
	) A WHERE ROWNUM <= #{lastIndex}
)WHERE RNUM > #{firstIndex}
]]>
	</select>	
	<select id="selectDebtListTotCnt" parameterType="com.yedam.dept.service.DebtVO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM DEBT
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					ID = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					DNAME LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if>
	</select>

</mapper>
