<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<h1>board 실습</h1>
	<table>
		<tr>
		    <th>게시번호</th>
		    <th>제목</th>
			<th>내용</th>
			<th>작성자</th>
			<th>등록일</th>
			<th>업데이트일</th>
		</tr>
		<tr th:each="board, stat : ${boardList}">
		<td th:text="${board.bno}"></td>
		<td><a th:href="@{/board(bno=${board.bno})}" th:text="${board.title}"></a></td>
		<td th:text="${board.content}"></td>
		<td th:text="${board.writer}"></td>
		<td th:text="${board.regdate}"></td>
		<td th:text="${board.updatedate}"></td>
		</tr>
	</table>

</body>
</html>